/******************************************************************************
*                                                                             *
*    ConnectionViewer.rc                    Copyright(c) 2010-2016 itow,y.    *
*                                                                             *
******************************************************************************/

/*
  Connection Viewer
  Copyright(c) 2010-2016 itow,y.

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

#include <windows.h>
#include <commctrl.h>
#include "resource.h"
#include "Version.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)


IDI_MAIN ICON "ConnectionViewer.ico"

IDB_TAB		BITMAP "Tab.bmp"
IDB_TOOLBAR	BITMAP "ToolBar.bmp"

IDM_MAIN MENU
BEGIN
	POPUP "ファイル(&F)"
	BEGIN
		MENUITEM "リストを保存(&S)...\tCtrl+S", CM_SAVE_LIST
		MENUITEM SEPARATOR
		MENUITEM "終了(&X)\tAlt+F4", CM_EXIT
	END
	POPUP "編集(&E)"
	BEGIN
		MENUITEM "リストをコピー(&C)\tCtrl+C", CM_COPY_LIST
		MENUITEM SEPARATOR
		MENUITEM "ログをクリア(&L)", CM_LOG_CLEAR
	END
	POPUP "表示(&V)"
	BEGIN
		MENUITEM "更新停止(&P)\tPause", CM_PAUSE
		POPUP "更新間隔(&U)"
		BEGIN
			MENUITEM "0.5秒", CM_UPDATEINTERVAL_500
			MENUITEM "1秒", CM_UPDATEINTERVAL_1000
			MENUITEM "2秒", CM_UPDATEINTERVAL_2000
			MENUITEM "3秒", CM_UPDATEINTERVAL_3000
			MENUITEM "5秒", CM_UPDATEINTERVAL_5000
		END
		MENUITEM SEPARATOR
		POPUP "接続状況表示項目(&C)"
		BEGIN
			MENUITEM "カラムの設定...", CM_CONNECTION_LIST_COLUMN_SETTINGS
			MENUITEM SEPARATOR
			MENUITEM "プロセス", CM_LISTCOLUMN_PROCESS_NAME
			MENUITEM "PID", CM_LISTCOLUMN_PROCESS_ID
			MENUITEM "プロトコル", CM_LISTCOLUMN_PROTOCOL
			MENUITEM "ローカル アドレス", CM_LISTCOLUMN_LOCAL_ADDRESS
			MENUITEM "ローカル ポート", CM_LISTCOLUMN_LOCAL_PORT
			MENUITEM "リモート アドレス", CM_LISTCOLUMN_REMOTE_ADDRESS
			MENUITEM "リモート ポート", CM_LISTCOLUMN_REMOTE_PORT
			MENUITEM "ホスト名", CM_LISTCOLUMN_REMOTE_HOST
			MENUITEM "国", CM_LISTCOLUMN_COUNTRY
			MENUITEM "地域", CM_LISTCOLUMN_CITY
			MENUITEM "位置", CM_LISTCOLUMN_LOCATION
			MENUITEM "状態", CM_LISTCOLUMN_STATE
			MENUITEM "接続時間", CM_LISTCOLUMN_TIME
			MENUITEM "受信速度", CM_LISTCOLUMN_IN_BANDWIDTH
			MENUITEM "最大受信速度", CM_LISTCOLUMN_MAX_IN_BANDWIDTH
			MENUITEM "送信速度", CM_LISTCOLUMN_OUT_BANDWIDTH
			MENUITEM "最大送信速度", CM_LISTCOLUMN_MAX_OUT_BANDWIDTH
			MENUITEM "受信量", CM_LISTCOLUMN_IN_BYTES
			MENUITEM "送信量", CM_LISTCOLUMN_OUT_BYTES
			MENUITEM "パス", CM_LISTCOLUMN_PROCESS_PATH
		END
		POPUP "接続ログ表示項目(&L)"
		BEGIN
			MENUITEM "カラムの設定...", CM_CONNECTION_LOG_COLUMN_SETTINGS
			MENUITEM SEPARATOR
			MENUITEM "日時", CM_LOGCOLUMN_CREATE_TIME
			MENUITEM "更新日時", CM_LOGCOLUMN_UPDATE_TIME
			MENUITEM "プロセス", CM_LOGCOLUMN_PROCESS_NAME
			MENUITEM "PID", CM_LOGCOLUMN_PROCESS_ID
			MENUITEM "プロトコル", CM_LOGCOLUMN_PROTOCOL
			MENUITEM "ローカル アドレス", CM_LOGCOLUMN_LOCAL_ADDRESS
			MENUITEM "ローカル ポート", CM_LOGCOLUMN_LOCAL_PORT
			MENUITEM "リモート アドレス", CM_LOGCOLUMN_REMOTE_ADDRESS
			MENUITEM "リモート ポート", CM_LOGCOLUMN_REMOTE_PORT
			MENUITEM "ホスト名", CM_LOGCOLUMN_REMOTE_HOST
			MENUITEM "国", CM_LOGCOLUMN_COUNTRY
			MENUITEM "地域", CM_LOGCOLUMN_CITY
			MENUITEM "位置", CM_LOGCOLUMN_LOCATION
			MENUITEM "状態", CM_LOGCOLUMN_STATE
			MENUITEM "接続時間", CM_LOGCOLUMN_TIME
			MENUITEM "受信速度", CM_LOGCOLUMN_IN_BANDWIDTH
			MENUITEM "最大受信速度", CM_LOGCOLUMN_MAX_IN_BANDWIDTH
			MENUITEM "送信速度", CM_LOGCOLUMN_OUT_BANDWIDTH
			MENUITEM "最大送信速度", CM_LOGCOLUMN_MAX_OUT_BANDWIDTH
			MENUITEM "受信量", CM_LOGCOLUMN_IN_BYTES
			MENUITEM "送信量", CM_LOGCOLUMN_OUT_BYTES
			MENUITEM "パス", CM_LOGCOLUMN_PROCESS_PATH
		END
		POPUP "インターフェース表示項目(&I)"
		BEGIN
			MENUITEM "カラムの設定...", CM_INTERFACE_LIST_COLUMN_SETTINGS
			MENUITEM SEPARATOR
			MENUITEM "インデックス", CM_INTERFACECOLUMN_INTERFACE_INDEX
			MENUITEM "名称", CM_INTERFACECOLUMN_DESCRIPTION
			MENUITEM "別名", CM_INTERFACECOLUMN_ALIAS
			MENUITEM "LUID", CM_INTERFACECOLUMN_INTERFACE_LUID
			MENUITEM "GUID", CM_INTERFACECOLUMN_INTERFACE_GUID
			MENUITEM "物理アドレス", CM_INTERFACECOLUMN_PHYSICAL_ADDRESS
			MENUITEM "固有物理アドレス", CM_INTERFACECOLUMN_PERMANENT_PHYSICAL_ADDRESS
			MENUITEM "MTU", CM_INTERFACECOLUMN_MTU
			MENUITEM "種類", CM_INTERFACECOLUMN_TYPE
			MENUITEM "トンネル", CM_INTERFACECOLUMN_TUNNEL_TYPE
			MENUITEM "媒体", CM_INTERFACECOLUMN_MEDIA_TYPE
			MENUITEM "物理媒体", CM_INTERFACECOLUMN_PHYSICAL_MEDIUM_TYPE
			MENUITEM "アクセス", CM_INTERFACECOLUMN_ACCESS_TYPE
			MENUITEM "方向", CM_INTERFACECOLUMN_DIRECTION_TYPE
			MENUITEM "操作状態", CM_INTERFACECOLUMN_OPERATIONAL_STATUS
			MENUITEM "管理状態", CM_INTERFACECOLUMN_ADMINISTRATIVE_STATUS
			MENUITEM "接続状態", CM_INTERFACECOLUMN_MEDIA_CONNECTION_STATE
			MENUITEM "ネットワークGUID", CM_INTERFACECOLUMN_NETWORK_GUID
			MENUITEM "接続タイプ", CM_INTERFACECOLUMN_CONNECTION_TYPE
			MENUITEM "送信リンク速度", CM_INTERFACECOLUMN_TRANSMIT_LINK_SPEED
			MENUITEM "受信リンク速度", CM_INTERFACECOLUMN_RECEIVE_LINK_SPEED
			MENUITEM "受信量", CM_INTERFACECOLUMN_IN_OCTETS
			MENUITEM "受信速度", CM_INTERFACECOLUMN_IN_BANDWIDTH
			MENUITEM "最大受信速度", CM_INTERFACECOLUMN_MAX_IN_BANDWIDTH
			MENUITEM "ユニキャスト受信パケット", CM_INTERFACECOLUMN_IN_UNICAST_PACKETS
			MENUITEM "非ユニキャスト受信パケット", CM_INTERFACECOLUMN_IN_NON_UNICAST_PACKETS
			MENUITEM "破棄受信パケット", CM_INTERFACECOLUMN_IN_DISCARDED_PACKETS
			MENUITEM "エラー受信パケット", CM_INTERFACECOLUMN_IN_ERROR_PACKETS
			MENUITEM "不明プロトコル受信パケット", CM_INTERFACECOLUMN_IN_UNKNOWN_PROTOCOL_PACKETS
			MENUITEM "ユニキャスト受信量", CM_INTERFACECOLUMN_IN_UNICAST_OCTETS
			MENUITEM "マルチキャスト受信量", CM_INTERFACECOLUMN_IN_MULTICAST_OCTETS
			MENUITEM "ブロードキャスト受信量", CM_INTERFACECOLUMN_IN_BROADCAST_OCTETS
			MENUITEM "送信量", CM_INTERFACECOLUMN_OUT_OCTETS
			MENUITEM "送信速度", CM_INTERFACECOLUMN_OUT_BANDWIDTH
			MENUITEM "最大送信速度", CM_INTERFACECOLUMN_MAX_OUT_BANDWIDTH
			MENUITEM "ユニキャスト送信パケット", CM_INTERFACECOLUMN_OUT_UNICAST_PACKETS
			MENUITEM "非ユニキャスト送信パケット", CM_INTERFACECOLUMN_OUT_NON_UNICAST_PACKETS
			MENUITEM "破棄送信パケット", CM_INTERFACECOLUMN_OUT_DISCARDED_PACKETS
			MENUITEM "エラー送信パケット", CM_INTERFACECOLUMN_OUT_ERROR_PACKETS
			MENUITEM "ユニキャスト送信量", CM_INTERFACECOLUMN_OUT_UNICAST_OCTETS
			MENUITEM "マルチキャスト送信量", CM_INTERFACECOLUMN_OUT_MULTICAST_OCTETS
			MENUITEM "ブロードキャスト送信量", CM_INTERFACECOLUMN_OUT_BROADCAST_OCTESTS
		END
		POPUP "ブロック表示項目(&B)"
		BEGIN
			MENUITEM "カラムの設定...", CM_BLOCK_LIST_COLUMN_SETTINGS
			MENUITEM SEPARATOR
			MENUITEM "アドレス", CM_BLOCKLIST_COLUMN_REMOTE_ADDRESS
			MENUITEM "ホスト名", CM_BLOCKLIST_COLUMN_REMOTE_HOST
			MENUITEM "国", CM_BLOCKLIST_COLUMN_COUNTRY
			MENUITEM "地域", CM_BLOCKLIST_COLUMN_CITY
			MENUITEM "位置", CM_BLOCKLIST_COLUMN_LOCATION
			MENUITEM "追加日時", CM_BLOCKLIST_COLUMN_ADDED_TIME
			MENUITEM "コメント", CM_BLOCKLIST_COLUMN_COMMENT
		END
		MENUITEM SEPARATOR
		MENUITEM "ホスト名の逆引きを行う(&A)", CM_RESOLVE_ADDRESSES
		POPUP "接続状況表示対象(&N)"
		BEGIN
			MENUITEM "TCP(IPv4)", CM_CONNECTIONLIST_PROTOCOL_TCP_V4
			MENUITEM "TCP(IPv6)", CM_CONNECTIONLIST_PROTOCOL_TCP_V6
			MENUITEM "UDP(IPv4)", CM_CONNECTIONLIST_PROTOCOL_UDP_V4
			MENUITEM "UDP(IPv6)", CM_CONNECTIONLIST_PROTOCOL_UDP_V6
		END
		MENUITEM "未接続の項目を非表示(&D)", CM_HIDE_UNCONNECTED
		MENUITEM SEPARATOR
		MENUITEM "プロパティリスト(&T)", CM_PROPERTY_LIST
		MENUITEM "ステータスバー(&S)", CM_STATUSBAR
		MENUITEM SEPARATOR
		MENUITEM "設定(&R)...", CM_PREFERENCES
	END
	POPUP "フィルタ(&F)"
	BEGIN
		MENUITEM "ブロック有効(&B)", CM_FILTER_ACTIVE_TOGGLE
		MENUITEM SEPARATOR
		MENUITEM "フィルタの追加(&A)...", CM_FILTER_ADD
	END
	POPUP "ヘルプ(&H)"
	BEGIN
		MENUITEM "バージョン情報(&A)", CM_ABOUT
	END
END

IDM_CONNECTION_ITEM MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "リモートアドレスをコピー(&A)", CM_CONNECTION_ITEM_COPY_REMOTE_ADDRESS
		MENUITEM "ホスト名をコピー(&H)", CM_CONNECTION_ITEM_COPY_REMOTE_HOST
		MENUITEM "プロセスのパスをコピー(&P)", CM_CONNECTION_ITEM_COPY_PROCESS_PATH
		MENUITEM SEPARATOR
		MENUITEM "Whois(&W)", CM_CONNECTION_ITEM_WHOIS
		MENUITEM SEPARATOR
		MENUITEM "接続を切断(&D)", CM_CONNECTION_ITEM_DISCONNECT
		MENUITEM "ブロック対象に追加(&B)", CM_CONNECTION_ITEM_BLOCK
	END
END

IDM_LOG_ITEM MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "リモートアドレスをコピー(&A)", CM_LOG_ITEM_COPY_REMOTE_ADDRESS
		MENUITEM "ホスト名をコピー(&H)", CM_LOG_ITEM_COPY_REMOTE_HOST
		MENUITEM "プロセスのパスをコピー(&P)", CM_LOG_ITEM_COPY_PROCESS_PATH
		MENUITEM SEPARATOR
		MENUITEM "Whois(&W)", CM_LOG_ITEM_WHOIS
		MENUITEM SEPARATOR
		MENUITEM "ブロック対象に追加(&B)", CM_LOG_ITEM_BLOCK
	END
END

IDM_INTERFACE_ITEM MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "名称をコピー(&D)", CM_INTERFACE_ITEM_COPY_DESCRIPTION
		MENUITEM "物理アドレスをコピー(&A)", CM_INTERFACE_ITEM_COPY_PHYSICAL_ADDRESS
		MENUITEM "固有物理アドレスをコピー(&P)", CM_INTERFACE_ITEM_COPY_PERMANENT_PHYSICAL_ADDRESS
		MENUITEM "GUIDをコピー(&G)", CM_INTERFACE_ITEM_COPY_INTERFACE_GUID
	END
END

IDM_BLOCK_ITEM MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "フィルタの設定(&S)...", CM_BLOCK_ITEM_SETTINGS
		MENUITEM "有効(&A)", CM_BLOCK_ITEM_ACTIVE
		MENUITEM SEPARATOR
		MENUITEM "削除(&R)", CM_BLOCK_ITEM_REMOVE
		MENUITEM SEPARATOR
		MENUITEM "全て削除(&M)", CM_BLOCK_ITEM_REMOVE_ALL
	END
END

IDM_PROPERTY_ITEM MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "コピー(&C)", CM_PROPERTY_ITEM_COPY
	END
END

IDM_GRAPH MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "全てのハードウェア・インターフェース", CM_GRAPH_INTERFACE_ALL_HARDWARE
	END
END

STRINGTABLE
BEGIN
	IDS_COMMAND_NAME_FIRST+CM_PAUSE					"更新停止"
	IDS_COMMAND_NAME_FIRST+CM_FILTER_ACTIVE_TOGGLE	"ブロック有効"

	IDS_CONNECTIONLIST_COLUMN_PROCESS_NAME		"プロセス"
	IDS_CONNECTIONLIST_COLUMN_PROCESS_PATH		"パス"
	IDS_CONNECTIONLIST_COLUMN_PROCESS_ID		"PID"
	IDS_CONNECTIONLIST_COLUMN_PROTOCOL			"プロトコル"
	IDS_CONNECTIONLIST_COLUMN_LOCAL_ADDRESS		"ローカル アドレス"
	IDS_CONNECTIONLIST_COLUMN_LOCAL_PORT		"ローカル ポート"
	IDS_CONNECTIONLIST_COLUMN_REMOTE_ADDRESS	"リモート アドレス"
	IDS_CONNECTIONLIST_COLUMN_REMOTE_PORT		"リモート ポート"
	IDS_CONNECTIONLIST_COLUMN_REMOTE_HOST		"ホスト名"
	IDS_CONNECTIONLIST_COLUMN_COUNTRY			"国"
	IDS_CONNECTIONLIST_COLUMN_CITY				"地域"
	IDS_CONNECTIONLIST_COLUMN_LOCATION			"位置"
	IDS_CONNECTIONLIST_COLUMN_STATE				"状態"
	IDS_CONNECTIONLIST_COLUMN_DURATION			"接続時間"
	IDS_CONNECTIONLIST_COLUMN_IN_BYTES			"受信量"
	IDS_CONNECTIONLIST_COLUMN_OUT_BYTES			"送信量"
	IDS_CONNECTIONLIST_COLUMN_IN_BANDWIDTH		"受信速度"
	IDS_CONNECTIONLIST_COLUMN_OUT_BANDWIDTH		"送信速度"
	IDS_CONNECTIONLIST_COLUMN_MAX_IN_BANDWIDTH	"最大受信速度"
	IDS_CONNECTIONLIST_COLUMN_MAX_OUT_BANDWIDTH	"最大送信速度"

	IDS_CONNECTIONLOG_COLUMN_CREATE_TIME		"日時"
	IDS_CONNECTIONLOG_COLUMN_UPDATE_TIME		"更新日時"
	IDS_CONNECTIONLOG_COLUMN_PROCESS_NAME		"プロセス"
	IDS_CONNECTIONLOG_COLUMN_PROCESS_PATH		"パス"
	IDS_CONNECTIONLOG_COLUMN_PROCESS_ID			"PID"
	IDS_CONNECTIONLOG_COLUMN_PROTOCOL			"プロトコル"
	IDS_CONNECTIONLOG_COLUMN_LOCAL_ADDRESS		"ローカル アドレス"
	IDS_CONNECTIONLOG_COLUMN_LOCAL_PORT			"ローカル ポート"
	IDS_CONNECTIONLOG_COLUMN_REMOTE_ADDRESS		"リモート アドレス"
	IDS_CONNECTIONLOG_COLUMN_REMOTE_PORT		"リモート ポート"
	IDS_CONNECTIONLOG_COLUMN_REMOTE_HOST		"ホスト名"
	IDS_CONNECTIONLOG_COLUMN_COUNTRY			"国"
	IDS_CONNECTIONLOG_COLUMN_CITY				"地域"
	IDS_CONNECTIONLOG_COLUMN_LOCATION			"位置"
	IDS_CONNECTIONLOG_COLUMN_STATE				"状態"
	IDS_CONNECTIONLOG_COLUMN_DURATION			"接続時間"
	IDS_CONNECTIONLOG_COLUMN_IN_BYTES			"受信量"
	IDS_CONNECTIONLOG_COLUMN_OUT_BYTES			"送信量"
	IDS_CONNECTIONLOG_COLUMN_IN_BANDWIDTH		"受信速度"
	IDS_CONNECTIONLOG_COLUMN_OUT_BANDWIDTH		"送信速度"
	IDS_CONNECTIONLOG_COLUMN_MAX_IN_BANDWIDTH	"最大受信速度"
	IDS_CONNECTIONLOG_COLUMN_MAX_OUT_BANDWIDTH	"最大送信速度"

	IDS_INTERFACELIST_COLUMN_INTERFACE_LUID					"LUID"
	IDS_INTERFACELIST_COLUMN_INTERFACE_INDEX				"インデックス"
	IDS_INTERFACELIST_COLUMN_INTERFACE_GUID					"GUID"
	IDS_INTERFACELIST_COLUMN_ALIAS							"別名"
	IDS_INTERFACELIST_COLUMN_DESCRIPTION					"名称"
	IDS_INTERFACELIST_COLUMN_PHYSICAL_ADDRESS				"物理アドレス"
	IDS_INTERFACELIST_COLUMN_PERMANENT_PHYSICAL_ADDRESS		"固有物理アドレス"
	IDS_INTERFACELIST_COLUMN_MTU							"MTU"
	IDS_INTERFACELIST_COLUMN_TYPE							"種類"
	IDS_INTERFACELIST_COLUMN_TUNNEL_TYPE					"トンネル"
	IDS_INTERFACELIST_COLUMN_MEDIA_TYPE						"媒体"
	IDS_INTERFACELIST_COLUMN_PHYSICAL_MEDIUM_TYPE			"物理媒体"
	IDS_INTERFACELIST_COLUMN_ACCESS_TYPE					"アクセス"
	IDS_INTERFACELIST_COLUMN_DIRECTION_TYPE					"方向"
	IDS_INTERFACELIST_COLUMN_OPERATIONAL_STATUS				"操作状態"
	IDS_INTERFACELIST_COLUMN_ADMINISTRATIVE_STATUS			"管理状態"
	IDS_INTERFACELIST_COLUMN_MEDIA_CONNECTION_STATE			"接続状態"
	IDS_INTERFACELIST_COLUMN_NETWORK_GUID					"ネットワークGUID"
	IDS_INTERFACELIST_COLUMN_CONNECTION_TYPE				"接続タイプ"
	IDS_INTERFACELIST_COLUMN_TRANSMIT_LINK_SPEED			"送信リンク速度"
	IDS_INTERFACELIST_COLUMN_RECEIVE_LINK_SPEED				"受信リンク速度"
	IDS_INTERFACELIST_COLUMN_IN_OCTETS						"受信量"
	IDS_INTERFACELIST_COLUMN_IN_BANDWIDTH					"受信速度"
	IDS_INTERFACELIST_COLUMN_MAX_IN_BANDWIDTH				"最大受信速度"
	IDS_INTERFACELIST_COLUMN_IN_UNICAST_PACKETS				"ユニキャスト受信パケット"
	IDS_INTERFACELIST_COLUMN_IN_NON_UNICAST_PACKETS			"非ユニキャスト受信パケット"
	IDS_INTERFACELIST_COLUMN_IN_DISCARDED_PACKETS			"破棄受信パケット"
	IDS_INTERFACELIST_COLUMN_IN_ERROR_PACKETS				"エラー受信パケット"
	IDS_INTERFACELIST_COLUMN_IN_UNKNOWN_PROTOCOL_PACKETS	"不明プロトコル受信パケット"
	IDS_INTERFACELIST_COLUMN_IN_UNICAST_OCTETS				"ユニキャスト受信量"
	IDS_INTERFACELIST_COLUMN_IN_MULTICAST_OCTETS			"マルチキャスト受信量"
	IDS_INTERFACELIST_COLUMN_IN_BROADCAST_OCTETS			"ブロードキャスト受信量"
	IDS_INTERFACELIST_COLUMN_OUT_OCTETS						"送信量"
	IDS_INTERFACELIST_COLUMN_OUT_BANDWIDTH					"送信速度"
	IDS_INTERFACELIST_COLUMN_MAX_OUT_BANDWIDTH				"最大送信速度"
	IDS_INTERFACELIST_COLUMN_OUT_UNICAST_PACKETS			"ユニキャスト送信パケット"
	IDS_INTERFACELIST_COLUMN_OUT_NON_UNICAST_PACKETS		"非ユニキャスト送信パケット"
	IDS_INTERFACELIST_COLUMN_OUT_DISCARDED_PACKETS			"破棄送信パケット"
	IDS_INTERFACELIST_COLUMN_OUT_ERROR_PACKETS				"エラー送信パケット"
	IDS_INTERFACELIST_COLUMN_OUT_UNICAST_OCTETS				"ユニキャスト送信量"
	IDS_INTERFACELIST_COLUMN_OUT_MULTICAST_OCTETS			"マルチキャスト送信量"
	IDS_INTERFACELIST_COLUMN_OUT_BROADCAST_OCTESTS			"ブロードキャスト送信量"

	IDS_BLOCKLIST_COLUMN_STATUS			"状態"
	IDS_BLOCKLIST_COLUMN_REMOTE_ADDRESS	"アドレス"
	IDS_BLOCKLIST_COLUMN_REMOTE_HOST	"ホスト名"
	IDS_BLOCKLIST_COLUMN_COUNTRY		"国"
	IDS_BLOCKLIST_COLUMN_CITY			"地域"
	IDS_BLOCKLIST_COLUMN_LOCATION		"位置"
	IDS_BLOCKLIST_COLUMN_ADDED_TIME		"追加日時"
	IDS_BLOCKLIST_COLUMN_COMMENT		"コメント"

	IDS_PROPERTYLIST_COLUMN_INDEX	"インデックス"
	IDS_PROPERTYLIST_COLUMN_NAME	"項目"
	IDS_PROPERTYLIST_COLUMN_VALUE	"値"

	IDS_STATUS_CONNECTIONS		"接続数 %d (TCP %d / UDP %d)"
	IDS_STATUS_LOG				"ログ数 %d / %d"
	IDS_STATUS_INTERFACES		"インターフェース数 %d"
	IDS_STATUS_BLOCK_FILTERS	"フィルタ数 %d"
	IDS_STATUS_IN_BANDWIDTH		"受信速度 %s"
	IDS_STATUS_OUT_BANDWIDTH	"送信速度 %s"
	IDS_STATUS_IN_BYTES			"総受信量 %s"
	IDS_STATUS_OUT_BYTES		"総送信量 %s"

	IDS_GRAPH_IN_BANDWIDTH		"受信速度"
	IDS_GRAPH_OUT_BANDWIDTH		"送信速度"
	IDS_GRAPH_CONNECTIONS		"接続数"

	IDS_GRAPH_ALL_HARDWARE_INTERFACES	"All hardware interfaces"

	IDS_TAB_CONNECTION_LIST		"接続状況"
	IDS_TAB_CONNECTION_LOG		"接続ログ"
	IDS_TAB_GRAPH				"グラフ"
	IDS_TAB_INTERFACE_LIST		"インターフェース"
	IDS_TAB_BLOCK_LIST			"ブロック"

	IDS_SAVELIST_FILTERS		"CSVファイル (*.csv)|*.csv|TSVファイル (*.tsv)|*.tsv|"
	IDS_GEOIP_DATABASE_FILTERS	"データベースファイル (*.dat)|*.dat|すべてのファイル|*.*|"

	IDS_CAPTION_ADMINISTRATOR		"管理者"
	IDS_CAPTION_NOT_ADMINISTRATOR	"制限ユーザー"

	IDS_PREF_CAPTION		"設定"

	IDS_GRAPH_TYPE_LIST		"折れ線\n面グラフ\n"

	IDS_BLOCK_STATE_ENABLED		"有効"
	IDS_BLOCK_STATE_DISABLED	"無効"

	IDS_DEFAULT_FIXED_FONT	"ＭＳ ゴシック"

	IDS_ERROR_CAPTION						"エラー"
	IDS_ERROR_FILE_SAVE						"ファイルを保存できません。"
	IDS_ERROR_WINDOW_CREATE					"ウィンドウを作成できません。"
	IDS_ERROR_DISCONNECT					"接続の切断ができません。"
	IDS_ERROR_DISCONNECT_TITLE				"接続の切断"
	IDS_ERROR_DISCONNECT_HEADER				"接続の切断ができません。"
	IDS_ERROR_DISCONNECT_MESSAGE			"切断を行うには、プログラムを管理者として実行する必要があります。"
	IDS_ERROR_DISCONNECT_ACCESS_DENIED		"権限がないため接続の切断を行えません。\n切断を行うには、プログラムを管理者として実行する必要があります。"
	IDS_ERROR_LIST_COPY						"リストをコピーできません。"
	IDS_ERROR_FILTER_OPEN					"フィルタ・エンジンのセッションを開けません。"
	IDS_ERROR_FILTER_BEGIN					"フィルタリングを開始できません。"
	IDS_ERROR_FILTER_ADD					"フィルタを追加できません。"
	IDS_ERROR_FILTER_UPDATE					"フィルタを更新できません。"
	IDS_ERROR_FILTER_ENABLE					"フィルタを有効にできません。"
	IDS_ERROR_FILTER_ADDRESS_HEADER			"アドレスの形式が正しくありません。"
	IDS_ERROR_FILTER_ADDRESS_MESSAGE		"アドレスは以下のような形式で入力してください。\r\nIPv4の場合 : 128.0.0.1\r\nIPv6の場合 : fe2c:59:0:0:0:0:0:1"
	IDS_ERROR_FILTER_ADDRESS_TITLE			"フィルタ設定"
	IDS_ERROR_FILTER_ADDRESS_RANGE			"アドレスの範囲が正しくありません。"
	IDS_ERROR_FILTER_ADDRESS_MISMATCH		"アドレスの種類が一致していません。"
	IDS_ERROR_FILTER_ALREADY_EXISTS			"同じ条件のフィルタが既に存在します。"
	IDS_ERROR_FILTER_ALREADY_EXISTS_TITLE	"フィルタ設定"
	IDS_ERROR_FILTER_ACCESS_DENIED_HEADER	"フィルタを有効にできません。"
	IDS_ERROR_FILTER_ACCESS_DENIED			"権限がないためフィルタを有効にできません。\nブロックを行うには、プログラムを管理者として実行する必要があります。"

	IDS_WHOIS_ERROR_GET_HOST				"サーバーのホストを取得できません。"
	IDS_WHOIS_ERROR_UNSUPPORTED_PROTOCOL	"プロトコルが未対応です。"
	IDS_WHOIS_ERROR_SOCKET_OPEN				"ソケットを作成できません。"
	IDS_WHOIS_ERROR_CONNECT					"サーバーに接続できません。"
	IDS_WHOIS_ERROR_SEND					"クエリを送信できません。"
END

IDA_ACCEL ACCELERATORS
BEGIN
	"^S", CM_SAVE_LIST, ASCII
	"^C", CM_COPY_LIST, ASCII
	VK_PAUSE, CM_PAUSE, VIRTKEY
END

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 160, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報"
FONT 9, "メイリオ"
BEGIN
	DEFPUSHBUTTON "OK", IDOK, 104, 40, 48, 12
	ICON IDI_MAIN, -1, 8, 8, 16, 16
	CTEXT CV_ABOUT_TEXT, -1, 32, 8, 120, 16
	CTEXT "http://www.geocities.jp/iooiau/", IDC_ABOUT_WEB, 38, 24, 108, 9, SS_NOTIFY
END

IDD_PREF_GENERAL DIALOG DISCARDABLE 0, 0, 224, 156
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "一般"
FONT 9, "メイリオ"
BEGIN
	LTEXT "フォント(&F):", -1, 8, 10, 40, 8
	LTEXT "", IDC_PREF_FONT_INFO, 56, 9, 142, 10, SS_SUNKEN
	PUSHBUTTON "...", IDC_PREF_FONT_CHOOSE, 202, 8, 14, 12
	AUTOCHECKBOX "グリッドを表示する(&G)", IDC_PREF_SHOWGRID, 8, 24, 88, 9
	GROUPBOX "配色", -1, 8, 36, 208, 80, BS_GROUPBOX
	RTEXT "文字(&T):", -1, 16, 50, 44, 8
	PUSHBUTTON "...", IDC_PREF_COLOR_TEXT, 64, 48, 32, 12
	RTEXT "グリッド(&R):", -1, 16, 66, 44, 8
	PUSHBUTTON "...", IDC_PREF_COLOR_GRID, 64, 64, 32, 12
	RTEXT "背景1(&1):", -1, 112, 50, 44, 8
	PUSHBUTTON "...", IDC_PREF_COLOR_BACK1, 160, 48, 32, 12
	RTEXT "背景2(&2):"-1, 112, 66, 44, 8
	PUSHBUTTON "...", IDC_PREF_COLOR_BACK2, 160, 64, 32, 12
	RTEXT "新規項目(&N):", -1, 112, 82, 44, 8
	PUSHBUTTON "...", IDC_PREF_COLOR_NEW_BACK, 160, 80, 32, 12
	RTEXT "選択文字(&S):", -1, 16, 98, 44, 8
	PUSHBUTTON "...", IDC_PREF_COLOR_SEL_TEXT, 64, 96, 32, 12
	RTEXT "選択背景(&B):", -1, 112, 98, 44, 8
	PUSHBUTTON "...", IDC_PREF_COLOR_SEL_BACK, 160, 96, 32, 12
	LTEXT "ログの最大保持数(&L):", -1, 8, 121, 76, 8
	EDITTEXT IDC_PREF_MAXLOG, 88, 120, 40, 11, ES_NUMBER | ES_AUTOHSCROLL
	CONTROL "", IDC_PREF_MAXLOG_SPIN, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 118, 120, 10, 11
	LTEXT "GeoIPデータベース(&D):", -1, 8, 137, 76, 8
	EDITTEXT IDC_PREF_GEOIP_DATABASE, 88, 136, 110, 11, ES_AUTOHSCROLL
	PUSHBUTTON "...", IDC_PREF_GEOIP_DATABASE_BROWSE, 202, 136, 14, 12
END

IDD_PREF_GRAPH DIALOG DISCARDABLE 0, 0, 224, 96
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "グラフ"
FONT 9, "メイリオ"
BEGIN
	RTEXT "背景色(&B):", -1, 8, 10, 56, 8
	PUSHBUTTON "...", IDC_PREF_GRAPH_COLOR_BACK, 68, 8, 32, 12
	RTEXT "グリッド色(&G):", -1, 8, 26, 56, 8
	PUSHBUTTON "...", IDC_PREF_GRAPH_COLOR_GRID, 68, 24, 32, 12
	RTEXT "キャプション色(&T):", -1, 116, 10, 64, 8
	PUSHBUTTON "...", IDC_PREF_GRAPH_COLOR_CAPTION, 184, 8, 32, 12
	RTEXT "受信速度(&I):", -1, 8, 46, 44, 8
	PUSHBUTTON "...", IDC_PREF_GRAPH_IN_BANDWIDTH_COLOR, 56, 44, 32, 12
	COMBOBOX IDC_PREF_GRAPH_IN_BANDWIDTH_GRAPH_TYPE, 92, 44, 44, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	EDITTEXT IDC_PREF_GRAPH_IN_BANDWIDTH_SCALE, 140, 44, 40, 11, ES_NUMBER | ES_AUTOHSCROLL
	CONTROL "", IDC_PREF_GRAPH_IN_BANDWIDTH_SCALE_SPIN, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 170, 44, 10, 11
	COMBOBOX IDC_PREF_GRAPH_IN_BANDWIDTH_SCALE_UNIT, 184, 44, 32, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	RTEXT "送信速度(&O):", -1, 8, 62, 44, 8
	PUSHBUTTON "...", IDC_PREF_GRAPH_OUT_BANDWIDTH_COLOR, 56, 60, 32, 12
	COMBOBOX IDC_PREF_GRAPH_OUT_BANDWIDTH_GRAPH_TYPE, 92, 60, 44, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	EDITTEXT IDC_PREF_GRAPH_OUT_BANDWIDTH_SCALE, 140, 60, 40, 11, ES_NUMBER | ES_AUTOHSCROLL
	CONTROL "", IDC_PREF_GRAPH_OUT_BANDWIDTH_SCALE_SPIN, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 170, 60, 10, 11
	COMBOBOX IDC_PREF_GRAPH_OUT_BANDWIDTH_SCALE_UNIT, 184, 60, 32, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	RTEXT "接続数(&C):", -1, 8, 78, 44, 8
	PUSHBUTTON "...", IDC_PREF_GRAPH_CONNECTIONS_COLOR, 56, 76, 32, 12
	COMBOBOX IDC_PREF_GRAPH_CONNECTIONS_GRAPH_TYPE, 92, 76, 44, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	EDITTEXT IDC_PREF_GRAPH_CONNECTIONS_SCALE, 140, 76, 40, 11, ES_NUMBER | ES_AUTOHSCROLL
	CONTROL "", IDC_PREF_GRAPH_CONNECTIONS_SCALE_SPIN, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 170, 76, 10, 11
END

IDD_WHOIS DIALOG DISCARDABLE 0, 0, 256, 192
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Whois"
FONT 9, "メイリオ"
BEGIN
	LTEXT "アドレス:", -1, 4, 6, 32, 8
	EDITTEXT IDC_WHOIS_ADDRESS, 40, 4, 212, 11, ES_AUTOHSCROLL
	LTEXT "サーバー:", -1, 4, 22, 32, 8
	COMBOBOX IDC_WHOIS_SERVER, 40, 20, 212, 80, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "取得(&Q)", IDC_WHOIS_QUERY, 204, 36, 48, 12
	EDITTEXT IDC_WHOIS_RESULT, 4, 52, 248, 136, ES_READONLY | ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | WS_HSCROLL
END

IDD_COLUMNS DIALOG DISCARDABLE 0, 0, 200, 156
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "カラムの設定"
FONT 9, "メイリオ"
BEGIN
	CONTROL "", IDC_COLUMNS_LIST, WC_LISTVIEW, WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS, 4, 4, 140, 128
	PUSHBUTTON "上へ(&U)", IDC_COLUMNS_UP, 148, 4, 48, 12
	PUSHBUTTON "下へ(&D)", IDC_COLUMNS_DOWN, 148, 20, 48, 12
	DEFPUSHBUTTON "OK", IDOK, 96, 140, 48, 12
	PUSHBUTTON "キャンセル", IDCANCEL, 148, 140, 48, 12
END

IDD_FILTER DIALOG DISCARDABLE 0, 0, 200, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "フィルタ"
FONT 9, "メイリオ"
BEGIN
	LTEXT "アドレス(&A):", -1, 8, 8, 48, 8
	EDITTEXT IDC_FILTER_ADDRESS_LOW, 16, 20, 80, 11, ES_AUTOHSCROLL
	CTEXT "-", -1, 100, 21, 8, 8
	EDITTEXT IDC_FILTER_ADDRESS_HIGH, 112, 20, 80, 11, ES_AUTOHSCROLL
	LTEXT "コメント(&C):", -1, 8, 36, 48, 8
	EDITTEXT IDC_FILTER_COMMENT, 16, 48, 176, 11, ES_AUTOHSCROLL
	DEFPUSHBUTTON "OK", IDOK, 92, 68, 48, 12
	PUSHBUTTON "キャンセル", IDCANCEL, 144, 68, 48, 12
END

1 VERSIONINFO
 FILEVERSION CV_VERSION_MAJOR, CV_VERSION_MINOR, CV_VERSION_REV, 0
 PRODUCTVERSION CV_VERSION_MAJOR, CV_VERSION_MINOR, CV_VERSION_REV, 0
 FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041104B0"
		BEGIN
			VALUE "Comments", "Internet connection viewer\0"
			VALUE "CompanyName", "itow,y.\0"
			VALUE "FileDescription", "Connection Viewer\0"
			VALUE "FileVersion", CV_VERSION_TEXT "\0"
			VALUE "InternalName", "Connection Viewer\0"
			VALUE "LegalCopyright", CV_COPYRIGHT_TEXT "\0"
			VALUE "OriginalFilename", "ConnectionViewer.exe\0"
#ifdef _DEBUG
			VALUE "PrivateBuild", "\0"
#endif
			VALUE "ProductName", "Connection Viewer\0"
			VALUE "ProductVersion", CV_VERSION_TEXT "\0"
#ifdef _DEBUG
			VALUE "SpecialBuild", "\0"
#endif
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x411, 1200
	END
END
